.bio-page-container {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../assets/orcaBioBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header-container {
    text-align: center;
    padding: 0px !important;
}

.bio-white-text {
    color: white;
    padding: 20px;
    text-align: center;
}

.description-container {
    background-color: #0F1035;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    max-width: 90%; /* Ensure it doesn't exceed the viewport width */
    margin-top: 170px; /* Adjust the margin-top as needed */
    margin-bottom: 50px;
}


