.orca-box-1 {
    display: flex;
    margin-bottom: 100px;
}

.orca-conservation-container {
    background-color: #0F1035;
    border-radius: 10px; /* Add rounded edges */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Add box shadow */
    width: fit-content; /* Fit the width to content */
    padding: 20px;
    margin-bottom: 40px;
    width: 1300px;
}

.bio-moreinfo-link {
    display: block;
    max-width: 200px;
    margin: auto;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 2rem;
    font-weight: bolder; 
    font-size: larger;
    text-decoration: none;
    transition-duration: 0.2s;
    border-color: aliceblue;
    border-width: 1px;
    text-align: center;
}

.bio-moreinfo-link:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.card-style {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center; /* Center content horizontally */
    flex-direction: row; /* Set to row to align items horizontally */
    height: 500px;
    width: 1300px;
}

  .italic-text {
        font-style: italic !important;
        color: white;
    }

.info-style {
    background-color: #0F1035;
    border-radius: 10px; /* Add rounded edges */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Add box shadow */
    width: fit-content; /* Fit the width to content */
    padding: 20px;
    height: 770px;
}

.img-style {
    border-radius: 5px; /* Optional: Add border-radius to the image */
    width: 800px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
    margin-top: 0px;
}

.desc-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Set to column to stack items vertically */
}

hr {
    margin-top: 20px;
}