#root {
    max-width: unset;
    position: relative;
    place-items: center;
    padding: 0;
    text-align: unset;
    margin: 0;
    
  }

 html, body{
    display: unset;
    margin: 0px;
    height: auto;
    width: 100%;
    padding: 0px;
    justify-content: space-around;
    background-color: #dcdcdc;
    color: #000;
 } 

.Sightings{
    background-color: #dcdcdc;
    color: #000;
}

.Sightings h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.Sightings-para{
    text-align: center;
}

.Sightings-map{
    padding: 50px;
}

.Sightings-bgImg {
    /*display: flex;*/
    background-image: url('/src/assets/orca.jpeg');
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    position: relative;
    min-height: 35rem;
    height: auto;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }

  .Sightings-post {
    text-align: left;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .Sightings-blurb p {
    margin-left: 50px;
  }

  .buttonContainer{
    padding: 50px;
    height: 100px;
    position: relative;
  }


  .btn1{
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    background: #1E1E1E;
    border: 4px solid #181818;
    border-radius: 6px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .btn1 h3{
    position: relative;
  }


  .Sightings-bottom-padding{
    padding: 25px;
  }