.page-container{
  /* margin-top: 4rem; */
  background-image: url("../../assets/orcaWallpaper.jpg");
  background-size: cover; /* Cover the entire container */
  background-attachment: fixed; /* Fixed background position as the user scrolls */
  background-position-y: -20px;
  width: 100vw;
}

.header-container {
  margin-top: 30px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center content horizontally */
  margin-top: 100px; /* Adjust margin as needed */
}