.page-container {
  width: 100vw; /* Use viewport width to fill the screen width */
  min-height: 100vh;
  background-image: url('../../assets/orcaWallpaper.jpg'); /* Replace 'your-image-url.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  position: relative; /* Ensure proper stacking context */
}

.whales-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Ensures the title spans the full width */
  text-align: center;
  margin-top: 150px; /* Use percentage-based margin for responsiveness */
}

.whales-title-text {
  color: white;
}

.whales-cards-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Ensures the title spans the full width */
  text-align: center;
  margin-top: 250px; /* Use percentage-based margin for responsiveness */
}
