/* 
Shape with text

position: absolute;
width: 1080px;
height: 1023px;
left: 100px;
top: 188px;



Shape

position: absolute;
width: 1080px;
height: 1023px;
left: 0px;
top: 0px;

background: #CAD6E7;
border: 4px dashed #000000;
border-radius: 6px;


Text

position: absolute;
width: 1016px;
height: 60px;
left: 32px;
top: 482px;

*/


