.orca-box-1 {
    display: flex;
    margin-bottom: 100px;
}

.card-style {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center; /* Center content horizontally */
    flex-direction: row; /* Set to row to align items horizontally */
    height: 500px;
}

  .italic-text {
    font-style: italic !important;
    color: white;
    }

.info-style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Set to row to align items horizontally */
    justify-content: center; /* Center content horizontally */
    align-items: left; /* Center content vertically */
    background-color: #0F1035;
    padding: 40px; /* Add padding for spacing */
    border-radius: 10px; /* Add rounded edges */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Add box shadow */
    width: fit-content; /* Fit the width to content */
    margin: 0 auto; /* Center the container horizontally */
}

.img-style {
    flex: 0 0 auto; /* Make the image not grow or shrink */
    border-radius: 5px; /* Optional: Add border-radius to the image */
    width: 800px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
}

.desc-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Set to column to stack items vertically */
}
