.orca-box-1 {
    display: flex;
    margin-bottom: 100px;
}

.card-style {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center; /* Center content horizontally */
    flex-direction: row; /* Set to row to align items horizontally */
    height: 500px;
}

  .italic-text {
    font-style: italic !important;
    color: white;
    }

.info-style {
    background-color: #0F1035;
    border-radius: 10px; /* Add rounded edges */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Add box shadow */
    width: fit-content; /* Fit the width to content */
    padding: 20px;
    height: 770px;
}

.carousel-container {
    background-color: #0F1035;
    border-radius: 10px; /* Add rounded edges */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Add box shadow */
    padding: 20px;
    height: auto;
    width: auto;
}

.img-style {
    border-radius: 5px; /* Optional: Add border-radius to the image */
    width: 800px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
    margin-top: 0px;
}

.desc-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Set to column to stack items vertically */
}
