.page {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.background {
    width: 100vw;
    height: 30rem;
    position: absolute;
    background-image: url(https://www.celebritycruises.com/blog/content/uploads/2020/05/best-place-to-see-orcas-vancouver-canada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    opacity: 0.85;
    z-index: 0;
}

.Account {
    margin: 0;
    margin-top: 150px;
    height: 250px;
    font-weight: bold;
    display: flex;
    flex-direction: row;   
    z-index: 1;
}

.whitespace {
    flex: 1;
    align-self: center;
}

.Account .page-header {
    color: #0F1035;
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    align-self:flex-end;
    margin-bottom: 25px;
    flex: 1;
}

.Account .profile-picture {
    width: 256px;
    min-width: 0;
    border-radius: 100%;
    padding: 0;
    cursor: pointer;
}

.edit-username {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: -0.011em;
    z-index: 1;
    color: #000000;
}

.edit-username input {
    width: 30rem;
    height: 3rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.011em;
    text-align: center;
    color: #292929;
}

.edit-username button {
    padding: 0px 10px;
    margin: 8px;
    margin-right: 0px;
    border-radius: 100%;
    border: none;
    align-self: center;
    background-color: transparent;
}

.edit-username .blank {
    width: 40px;
    height: 20px;
    margin: 8px;
    margin-right: 0px;
}

.edit-username img {
    width: 20px;
    height: 20px;
}

.logout {
    position: absolute;
    top: 5%;
    right: 2%;
    background: #1E1E1E;
    border: 2px solid #181818;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding: 10px;
    text-align: center;
    letter-spacing: -0.011em;
    color: #FFFFFF;
}